
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
  
}


header {
    padding: 20px 100px;
    background-color: red;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

header a {
    color: black;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 22px;
}

header h1 {
    color: whitesmoke;
}

.about-me {
    display:flex;
    flex-wrap: nowrap;
}

.collapsible {
    background-color: grey;
    color: yellow;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

.background {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:gold;
    transition: max-height 0.2s ease-out;
}

.active, .collapsible:hover {
    background-color: #555;
}

.work {
    padding: 4px;
   flex-direction: column;
   margin-top: 70px;
}


.projects {
    padding: 32px 0;
    margin-top: 2rem;
    display: inline;
}

.projects-container {
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding-left: 300px;
    background-image:url('photos/blade-gripper.jpeg');
    background-position: center;
    background-image: wrap;
}


.run-buddy-snap {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    text-decoration-color: black;
    display:inline-table;
    
}

.run-buddy-snap img {
    max-height: 200px;
    
}

.robot-gladitors {
    margin-bottom: 20px;
    padding: 55px;
    height: 300px;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    flex-direction: column;

}

.robot-gladitors img {
    max-height: 200px;
    max-width: 300px;
}

.calculator {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    color: whitesmoke;
    text-align: center;
    flex-direction: column;
    display: inline-block;
    display:inline-table;
}

.calculator img {
    max-height: 200px;
    max-width: 300px;
}

footer {
    background: red;
    width: 100%;
    padding: 50px 5px;
    position: bottom;
}

footer div ul li {
    display: inline;
    margin: 0 30px;
    font-size: 22px;
    float: left;
    
}


footer h2 {
    display: inline;
    color: #021305;
    font-size: 30px;
    margin: 0;
    color: whitesmoke;
   
}

footer div {
    float: right;
    line-height: 1.5;
   
}

footer a {
    color: #021305;
}
